extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Zaid Anki

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Motivated Business Economics Graduate seeking a job in Business and IT fields, and be part of a dynamic team to expand knowledge and make use of my current skills. Have taken Intermediate Accounting 1 and
            | Intermediate accounting 2, Cost Accounting, Risk Management, Business law and Marketing, as for my IT experience I am taking a Full-Stack JavaScript Course with TeamTreehouse.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li Node
          li Vue.js
          li Business Economics
          li Accounting
          li Management
          li HTML
          li CSS
          li Microsoft Office Suit
        h6 Contact Info

        //- Add your own contact info
        ul
          li 647-982-4022
          li xaidanki@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/zaid-anki-537a02174/') LinkedIn
        a.button.expanded(href='https://github.com/zaidanki') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  